<div class="container mt-5">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile>
            <img src="../../assets/images/simple crud operations.png" style="cursor: pointer;" alt="simple crud banner" routerLink="/employee">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/images/coming soon.png" alt="simple crud banner">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/images/coming soon.png" alt="simple crud banner">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/images/coming soon.png" alt="simple crud banner">
        </mat-grid-tile>
    </mat-grid-list>
</div>
