.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

mat-form-field {
    width: 100%;
}